cached-property==1.5.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
dataclasses==0.6
filelock==3.6.0
future==0.18.2
googledrivedownloader==0.4
h5py==3.6.0
huggingface-hub==0.4.0
idna==3.3
importlib-metadata==4.11.3
isodate==0.6.1
Jinja2==3.0.3
joblib==0.14.1
MarkupSafe==2.1.1
networkx==2.6.3
numpy==1.18.1
packaging==21.3
pandas==1.3.5
Pillow==9.0.1
plyfile==0.7.4
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
rdflib==6.1.1
regex==2022.3.15
requests==2.27.1
sacremoses==0.0.49
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
threadpoolctl==3.1.0
tokenizers==0.11.6
torch==1.7.0+cu110
torch-cluster @ SOMEFILE
torch-geometric==2.0.0
torch-scatter @ SOMEFILE
torch-sparse @ SOMEFILE
torchaudio==0.7.0
torchvision==0.8.1+cu110
tqdm==4.63.0
transformers==4.17.0
typing-extensions==4.1.1
urllib3==1.26.9
yacs==0.1.8
zipp==3.7.0
